.Container{
    margin-left: 50px;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: rgb(220,121,170);
    background: linear-gradient(137deg, rgba(220,121,170,1) 0%, rgba(75,23,82,1) 100%); 
    height: 98vh;
    width: 100vw;
    /* background-color: #9bb0dd; */
}

h1 {
    color: #F6B042;
    font-weight:800;
    font-size: 3rem;

}

.h1Clone{
    color: #F6B042;
    font-weight:800;
    font-size: 3rem;
    margin-left: -85px;
    margin-top: 5px;
}

.bigText{
    color: white;
    font-weight:800;
    font-size: 10rem;
}

.banner, .NavBar{
    background-color: #533549;
    width: 100vw;
    height: 9vh ;
}

.NavBar .NavText{
    color: #f2f2f2;
    font-weight:800;
    font-size:1.5rem;
    padding-left: 0px;
}
.formFields{
    color:#010e3a;
}

.formTitle{
    color: #c8cfdb;
    font-weight: 800;
    font-size: 2rem;
}

.Canvas{
    background-color: #f2f2f2;
    background-size: 40px 40px;
    background-image: radial-gradient(circle, #000000 1px, rgba(0, 0, 0, 0) 1px);

}

.footer{
    position: fixed;
    background-color: #533549;
    margin-top: 70vh;
    width: 100vw;
    height: 8vh;
    font-weight:100;
    color: #F6B042 ;
}

.homeText{
    font-size: 1.5rem;
    margin-top: -15px;
    font-weight: 300;
    color: #eeeeee;
    
}



